torch
langchain
langchain-community
sentence_transformers
pinecone-client
pinecone_text
langchain_pinecone
langchain_google_genai
langchain_openai
transformers
huggingface_hub
langchain_openai
google-ai-generativelanguage
FlagEmbedding
streamlit
watchdog
python-dotenv
pypdf
chromadb
langchain-groq